parameters:
    level: 5
    paths:
        - lib/
        - kwtsms.php
        - hooks.php
        - templates/ajax/
    excludePaths:
        - templates/admin/
        - vendor/
    bootstrapFiles:
        - phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
